/* Custom styles for the dashboard */
/* Universal reset for margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    margin-bottom: 10px;
}

/* Optional: Add custom hover effects for the buttons */
.btn-success:hover {
    background-color: #45a049;
}
